/SafeDriving-ejb/nbproject/private/
/SafeDriving-ejb/dist/
/SafeDriving-ejb/build/
/nbproject/private/
/SafeDriving-war/nbproject/private/
/dist/
/build/
/SafeDriving-war/dist/
/SafeDriving-war/build/
build/SafeDriving-war.war

build/SafeDriving-ejb.jar

build/SafeDriving-ejb.jar
