<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddPersonnelServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.AddPersonnelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddArticleServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.AddArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClientServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.AddClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExamenServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.AddExamenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSessionPratiqueServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.AddSessionPratiqueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSessionTheoriqueServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.AddSessionTheoriqueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleDetailServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.ArticleDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLieuServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.AddLieuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVehiculeServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.AddVehiculeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTypeExamenServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.AddTypeExamenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.InscriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.AddServiceServlet</servlet-class>
    </servlet>
    <filter>
        <filter-name>Filtre</filter-name>
        <filter-class>com.safedriving.filtre.Filtre</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filtre</filter-name>
        <url-pattern>/auth/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCompteWebServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.AddCompteWebServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanningServlet</servlet-name>
        <servlet-class>com.safedriving.servlet.PlanningServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPersonnelServlet</servlet-name>
        <url-pattern>/auth/AddPersonnel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddArticleServlet</servlet-name>
        <url-pattern>/auth/AddArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClientServlet</servlet-name>
        <url-pattern>/auth/AddClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExamenServlet</servlet-name>
        <url-pattern>/auth/AddExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSessionPratiqueServlet</servlet-name>
        <url-pattern>/auth/AddSessionPratique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSessionTheoriqueServlet</servlet-name>
        <url-pattern>/auth/AddSessionTheorique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleDetailServlet</servlet-name>
        <url-pattern>/auth/ArticleDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLieuServlet</servlet-name>
        <url-pattern>/auth/AddLieu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVehiculeServlet</servlet-name>
        <url-pattern>/auth/AddVehicule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTypeExamenServlet</servlet-name>
        <url-pattern>/auth/AddTypeExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionServlet</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceServlet</servlet-name>
        <url-pattern>/auth/AddService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCompteWebServlet</servlet-name>
        <url-pattern>/auth/AddCompteWeb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanningServlet</servlet-name>
        <url-pattern>/auth/Planning</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
